<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>attack</key>
	<array>
		<dict>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>min</key>
			<integer>3</integer>
			<key>max</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>min</key>
			<integer>5</integer>
			<key>max</key>
			<integer>11</integer>
		</dict>
	</array>
	<key>magic</key>
	<array>
		<integer>1</integer>
		<integer>4</integer>
		<integer>9</integer>
	</array>
	<key>chargeamount</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
		<integer>4</integer>
	</array>
	<key>chargedamage</key>
	<dict>
		<key>min</key>
		<integer>10</integer>
		<key>max</key>
		<integer>15</integer>
	</dict>
	<key>health</key>
	<array>
		<dict>
			<key>max</key>
			<string>2</string>
			<key>min</key>
			<string>1</string>
		</dict>
		<dict>
			<key>max</key>
			<string>5</string>
			<key>min</key>
			<string>3</string>
		</dict>
		<dict>
			<key>max</key>
			<string>8</string>
			<key>min</key>
			<string>5</string>
		</dict>
	</array>
	<key>magicdelaycount</key>
	<integer>1</integer>
	<key>maxchargeamount</key>
	<integer>1</integer>
</dict>
</plist>
